@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-border-top {
    border-top: 1px solid transparent;
    border-image: linear-gradient(180deg, #00D2FF, #059DBE);
    border-image-slice: 1;
  }
  
.problemShadow{
  box-shadow: 0px 10px 30px 0px #02B6DC26;
}